.footer-container {
    background-color: #78c2ad;
    padding: 10px 0;
    color: #ecf0f1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h4 {

    color:black;
    font-weight: bold;
    
}




.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section li {
    color: black;
    font-weight: bold;

}

.footer-bottom {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #e0f0eb;
}

.social-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.social-list a {
    color: #ecf0f1;
    font-size: 20px;
}

.social-list a:hover {
    color: #3498db;
}

/* Footer single page colors  */
.footer-sports {
    background-color: #6cc3d5;  /* Color for the sports page */
}

.footer-tech {
    background-color: #9178c2;  /* Color for the sports page */
}

.footer-music {
    background-color: #F3969A;  /* Color for the sports page */
}

.footer-boxing {
    background-color: #6cc3d5;  /* Color for the sports page */
}

.footer-soccer {
    background-color: #6cc3d5;  /* Color for the sports page */
}
.footer-basketball {
    background-color: #6cc3d5;  /* Color for the sports page */
}

.footer-chess {
    background-color: #6cc3d5;  /* Color for the sports page */
}

.footer-coding68  {
    background-color: #9178c2;  /* Color for the sports page */
}


.footer-engineering {
    background-color: #9178c2;  /* Color for the sports page */
}




.footer-default {
    background-color: #78c2ad;  /* Default color for other pages */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
}


.instagram-icon {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    margin-right: 3px;

}


.instagram-name {
    vertical-align: middle;
    color: black; /* Adjust the color as per your theme */
    font-weight: bold;
}
