/* Base styles */
.centeredHeading,
.offerHeading,
.programDescription,
.arrowContainer,
.programsHeading,
.missionStatement {
    text-align: center;
    transition: color 0.3s ease;
    padding: 0 40px;
}

.centeredHeading {
    text-align: center;
}

.offerHeading {
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.offerHeading:hover {
    color: #44D9E8;  /* Adjust this color if needed */
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    .offerHeading {
        font-size: 16px; /* Smaller font size for mobile screens */
        margin-top: 10px; /* Reduced margin */
        margin-bottom: 5px;
    }
    .missionStatement,
    .programDescription {
        padding: 0 10px; /* Padding to prevent text from touching the edges */
        font-size: 14px; /* Smaller font size for readability on mobile */
    }
    .carousel-container {
        padding: 10px 0;
    }
    .carousel-item img {
        height: 200px; /* Adjust height for mobile devices */
    }
    /* Adjust other elements as needed for mobile layout */
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .offerHeading {
        font-size: 20px; /* Adjusted font size for tablets */
    }
    .missionStatement,
    .programDescription {
        padding: 0 20px; /* Increased padding for tablets */
        font-size: 16px; /* Adjusted font size for tablets */
    }
    .carousel-container {
        padding: 15px 0;
    }
    .carousel-item img {
        height: 250px; /* Adjust height for tablets */
    }
    /* ... other tablet styles ... */
}

/* Small screens */
@media only screen and (max-width: 320px) {
    .offerHeading {
        font-size: 16px; /* Smaller font size for small screens */
        margin-top: 10px; /* Reduced margin */
        margin-bottom: 5px;
        /* ... other styles */
    }
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {
    .offerHeading {
        font-size: 24px; /* Larger font size for desktops */
    }
    .missionStatement,
    .programDescription {
        padding: 0 30px; /* Increased padding for desktops */
        font-size: 18px; /* Larger font size for desktops */
    }
    .carousel-container {
        padding: 20px 0;
    }
    .carousel-item img {
        height: 300px; /* Default height for images */
    }
    /* ... additional desktop styles ... */
}

/* Larger desktops */
@media only screen and (min-width: 1440px) {
    /* ... additional large desktop styles ... */
}

.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid white;  /* Arrow color */
    margin: 10px auto;
    cursor: pointer;  /* Making arrow clickable */
}

.arrow-down:hover {
    border-top: 40px solid #44D9E8; /* Change color on hover */
}

.our-programs-heading {
    font-size: 40px;  /* Increase font-size */
    font-weight: bold;
    margin-top: 5px;
    text-align: center;  /* Center the heading */
}

.programDescription {
    margin: 30px 0;  /* Add some vertical spacing */
    font-size: 18px; /* Adjust size as per your preference */
    text-align: center;
}

.arrowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
}

.centeredHeading {
    color: white;
    font-weight: bolder;
}

.programDescription {
    color: white;
    font-weight: bold;
}

.programsHeading {
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

.offerHeading {
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

.missionStatement {
    color: white;
    font-weight: bolder;
}

.home-page {
    background: linear-gradient(to bottom, black, black, #78C2AD, #78C2AD);
}

.boxingkids-home {
    width: 150px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 22%;
    transform: translateX(-50%);
    z-index: 3;
}

.groupsoccer-home {
    width: 180px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 36%;
    transform: translateX(-50%);
    z-index: 3;
}

.coding-home {
    width: 120px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 48%;
    transform: translateX(-50%);
    z-index: 3;
}

.kide-home {
    width: 120px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 57%;
    transform: translateX(-50%);
    z-index: 3;
}

.instagram-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Adjust the gap between posts */
    padding: 20px;
    max-width: 1200px; /* Maximum width of the grid */
    margin: 0 auto; /* Center the grid */
    text-align: center; /* Center the content inside the grid */
  }
  
.instagram-media {
  border: 1px solid #ccc; /* Optional: adds a subtle border around each post */
  border-radius: 8px; /* Optional: rounds the corners of the posts */
  overflow: hidden; /* Ensures no content spills outside the border */
}

@media only screen and (max-width: 600px) {
  .instagram-feed {
    grid-template-columns: 1fr; /* Stacks the posts vertically on smaller screens */
  }
}

.instagram-media:hover {
  transform: scale(1.03); /* Slightly enlarges the post when hovered */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Center the Instagram section heading */
.instagram-section-heading {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-top: 40px;
    font-size: 40px;
}
  
