/* Base styles */
.centeredHeading,
.offerHeading,
.programDescription,
.arrowContainer,
.programsHeading,
.missionStatement {
    text-align: center;
    transition: color 0.3s ease;
    padding: 0px 40px;
}

.centeredHeading {
    text-align: center;
}

.offerHeading {
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.offerHeading:hover {
    color: #44D9E8;  /* Adjust this color if needed */
}



/* Mobile styles */
@media only screen and (max-width: 600px) {
    .offerHeading {
        font-size: 16px; /* Smaller font size for mobile screens */
        margin-top: 10px; /* Reduced margin */
        margin-bottom: 5px;
    }
    .missionStatement,
    .programDescription {
        padding: 0 10px; /* Padding to prevent text from touching the edges */
        font-size: 14px; /* Smaller font size for readability on mobile */
    }
    /* Adjust other elements as needed for mobile layout */
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .offerHeading {
        font-size: 20px; /* Adjusted font size for tablets */
    }
    .missionStatement,
    .programDescription {
        padding: 0 20px; /* Increased padding for tablets */
        font-size: 16px; /* Adjusted font size for tablets */
    }
    /* ... other tablet styles ... */
}


@media only screen and (max-width: 320px) {
       .offerHeading {
        font-size: 20px; /* Smaller font size for small screens */
        margin-top: 15px; /* Reduced margin */
        margin-bottom: 10px;
        /* ... other styles */
    }
}


/* Desktop styles */
@media only screen and (min-width: 1025px) {
    .offerHeading {
        font-size: 24px; /* Larger font size for desktops */
    }
    .missionStatement,
    .programDescription {
        padding: 0 30px; /* Increased padding for desktops */
        font-size: 18px; /* Larger font size for desktops */
    }
    /* ... additional desktop styles ... */
}

/* Larger desktops */
@media only screen and (min-width: 1440px) {
    /* ... additional large desktop styles ... */
}


.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #000;  /* Arrow color */
    margin: 10px auto;
    cursor: pointer;  /* Making arrow clickable */
}

.arrow-down:hover {
    border-top: 40px solid #44D9E8; /* Change color on hover */
}

.our-programs-heading {
    font-size: 1.8rem;  /* Increase font-size */
    font-weight: bold;
    margin-top: 5px;
    text-align: center;  /* Center the heading */
}

.programDescription {
    margin: 30px 0;  /* Add some vertical spacing */
    font-size: 18px; /* Adjust size as per your preference */
    text-align: center;
}

.arrowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    color: #000;
    font-weight: bolder;
}

.centeredHeading {
    color: black;
    font-weight: bolder;
}

.programDescription {
    color: black;
    font-weight: bold;
}

.programsHeading {

    color: #000;
    font-weight: bolder;
}

.offerHeading {
    color: white;
    font-weight: bolder;
}

.missionStatement {
    color: white;
    font-weight: bolder;
}

.home-page {
    background: linear-gradient(to bottom, black, black, #78C2AD, #78C2AD);
    /* min-height: 100vh; 
background: black; */

}


.centeredHeading {

    color: white;


}

.missionStatement p {

    /* padding: 40px;  */

}