.navbar-primary {
    background-color: #78c2ad;
}
  
.navbar-primary .nav-link {
    color: black;
    font-weight: bolder;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

/* navbar single page colors  */
.navbar-sports {
    background-color: #6cc3d5;  /* Replace with your desired color */
    font-weight: bolder;

  }

  .navbar-music {
    background-color: #F3969A;  /* Replace with your desired color */
    font-weight: bolder;
    
  }

  .navbar-boxing {
    background-color: #6cc3d5;  /* Replace with your desired color */
    font-weight: bolder;
    
  }

  .navbar-soccer {
    background-color: #6cc3d5;  /* Replace with your desired color */
    font-weight: bolder;
  }

  .navbar-chess {
    background-color: #6cc3d5;  /* Replace with your desired color */
    font-weight: bolder;
    
  }

  .navbar-basketball {
    background-color: #6cc3d5;  /* Replace with your desired color */
    font-weight: bolder;
    
  }
  
  .navbar-default {
    background-color: #78c2ad;  /* Replace with your default color */
  }
  
  .navbar-default {
    background-color: #9178c2;  /* Replace with your default color */
  }
  